/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* general */

.left {
    float: left;
}

.general,
.general_ {
    width: 100%;
    min-width: 320px;
}

.one {
    width: 15%;
}

.two {
    width: 85%;
}

/* /general */

/* footer */

footer {
    height: 100px;
    z-index: 1;
    bottom: 0;
    left: 0;
}

/* /footer */












/* debug */

.debug .general {
    background-color: yellow;
}

.debug .one {
    background-color: violet;
    height: 568px;
}

.debug .two {
    background-color: blue;
    height: 568px;
}

.debug .upgrade {
    height: 10%;
    background-color: aqua;

}
.debug .center {
    height:90%;
    background-color: coral;
}

.debug footer {
    background-color: chartreuse;
    width: 100%;
}


/* media_queries */

@media screen and (min-width:321px) {

    .general {
        width: 100%;
    }
    .debug .center {
        background-color: rgb(0, 26, 255);
    }

    .one {
        width: 188px;
    }
    .two {
        width:calc(100% - 188px);
    }
}