/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

h3 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}


/* general */



.general {
    width: 100%;
    height: calc(100vh - 80px);
    min-width: 320px;
    min-height: 80px;
    background-color: #141922;
        
    
}

 /* /general */

 /* one */
.one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39px;
    height: 100%;
    min-height: 480px;
    background-color: black;
}

.logo {
    display: visible;
}

.logo_{
    display: none;
    margin: 15px;
}

.logo_ img {
    width: 60%;
}

.logo,.house,.search,.library{
    margin: 10px 5px;
}

.logo img,
.house img,
.search img,
.library img{
    width: 25px;
}

.homie {
    color: gray;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px ;
}

.ghost {
    display: none;
    margin: 10px 0px 10px 15px;
}

.ectoplasm {
    margin: 10px 0;
    color: gray;
    list-style: none;
}

.ectoplasm i {
    font-size: 35px;
    margin-right: 10px;
}

.ectoplasm li {
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;

}

.plus {
    color: rgb(175, 175, 175);
}

.play {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.overfai {
    overflow:hidden;
    height: 250px;
}
.overfai ul {
    list-style: none;
}

.overfai ul li {
    font-size: 12px;
}

.overjai {
    height: 80%;
    overflow-y: auto;
}

.download img {
    width: 15px;
    margin: 0px 0px 0px 10px  ;
}

.download {
    display: flex;
}

.download ul li {
    display: inline-block;
}

.user img {
    width: 18px;
    margin:5px 10px;
    background-color: rgb(167, 167, 167);
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
}


.house,
.search,
.library {
    display: flex;
    align-items: center;
}


.house img,
.search img, 
.library img,
.download img{
    filter: opacity(.7);
}

.uppy {
    height: calc(100%-60px);
}

.downy {
    min-height:60px;
}



.jhon {
    font-size: 10px;
    font-weight: bold;
    color: white;
    display:none;
    position: relative;
    right: 20px;
}    

/* /one */

/* two */

.two {
    width:calc(100% - 39px);
    background-color: #141922;
    height: 100%;
    overflow: auto;
}

.upgrade {
    height: 90px;
    width: calc(100% - 39px );
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    line-height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}


.upgrade a {
    text-decoration: none;
}


.effect {
    color: white;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border: 1px solid white;
    padding: 0px 35px;
    margin-right: 5px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    transition: 0.1s;
    
}

.center {
    height:90%;
    background-color: #141922;
    width: 100%;
    padding: 15px;
    /* overflow: auto; */
}

/* navigation */

.navigation {
    margin: 80px 0 20px 0;
    height: 70px;
    width: 100%;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation ul li a {
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.navigation ul li {
    padding: 0 5px ;
    font-size: 9px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 35px;

}
/* /.navigation */

.center .dose{
    color: whitesmoke;
    margin-bottom: 10px;
}

.perjohn {
    color: whitesmoke;
}

/* .doe {
    color: whitesmoke;
    margin-bottom: 5px;

} */

.tracks,.made {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  
}

.albums {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 2 - 10px );
    margin: 10px 10px 10px 0;
    max-width: 200px;
}

.tracks .albums img,
.made .albums img {
    width: 100%;
}

.tracks .albums p,
.made .albums p {
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}



.subtitle {
    color: rgb(167, 167, 167);
    font-size: 9px;
    font-weight: bold;
    margin-top: 5px;
}

/* /two */


/* footer */

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 80px;
    position:fixed;
    z-index: 1;
    bottom: 0;
    left: 0;    
    background-color: #282828;
}

.lefty,.righty {
    height: 100%;
    width: 30%;
   
}

.lefty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.righty{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sinister {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 8px;
    color: rgb(167, 167, 167);
    font-weight: bold;
    margin-right: 5px;
}

.original {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sin {
    font-size: 9px;
    font-weight: bold;
    color: white;
}

.song {
    display: flex;
    flex-direction: column;
}

.foldy {
    display: flex;
    flex-direction: column;
    color:rgb(167, 167, 167) ;
    font-size: 12px;
    
}

.foldy i {
    margin: 0 5px 0 0 ;
}
.lefty img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.sentry {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.righty i {
    color: whitesmoke ;
    font-size: 8px;
}

.ruled {
    height: 3px;
    width: 50px;
    background-color: grey;
    border-radius: 20%;   
}

.spano {
    height: 3px;
    width: 15px;
    background-color: whitesmoke;
}


.tower {
    width: 100%;
    height: 50%;
}

.tower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;

}

.fa-play-circle {
    font-size: 25px;
}

.this {
    font-size: 12px;  
}

/* .that {
    transition: 0s;
} */

.castra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
    /* padding: 5px; */
    font-size: 8px;
    font-weight: bold;
    color: whitesmoke;

}
.ruled_{
    height: 3px;
    width: 80px;
    background-color: grey;
    border-radius: 15%;   
}

.spano_{
    height: 3px;
    width: 15px;
    background-color: whitesmoke;
}

.pinco {
    position: relative;
    display: none;
    background-color: white;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: 50px;
    bottom:7px ;
}



/* /footer */



/* debug */

/* .debug .general {
    height: calc(100vh - 80px);
} */

/* .debug .one,.debug .two  {
    height: 100%;
} */

/* .debug .two {
   
    height: 100%; */
    /* overflow: scroll; 
 } */

/* .debug .upgrade {
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);

} */
/* .debug .center {
    height:90%;
    background-color: #141922;
} */

/* .debug footer {
    background-color: chartreuse;
    width: 100%;
} */
/* .debug .boxy {
    background-color: yellow;
    height: 22px;
    width: 22px;
    margin:10px 9px ;

} */

/* .debug .lefty {
    background-color: brown;
} */

/* .debug .sentry {
    background-color: rgb(255, 0, 0);
} */
/* .debug .righty {
    background-color: brown;
} */

/* .debug .castra {
    background-color: chartreuse;
} */

/* .debug .tower {
    background-color: rgb(38, 0, 255);
} */


/* hoovers */


.effect:hover {
    transform: scale(1.1);
}

.that:hover {
    transform: scale(1.1);
}

.ruled_:hover .spano_ {
    background-color: rgb(180, 255, 30);
}

.ruled_:hover .pinco {
    display: visible;
}

/* media_queries */

@media screen and (min-width:414px) {


    .one {
        width: 168px;
    }
    .two {
        width:calc(100% - 168px);
    }

    .upgrade {
        
        width: calc(100% - 168px );
    }

    .logo {
        display: none;
    }

    .logo_ {
        display: block;
    }

    .logo,.house,.search,.library{
        margin: 10px 0px 10px 15px;
    }

    .user img,
    .download img {
        margin-left: 15px;
    }

    .homie,.ghost,.hr{
        display: inline-block;
    }
    .user {
        border-top: 1px solid grey;
        width: 128px;
        position: relative;
        left: 15px;
    }

    .user img {
        position: relative;
        right: 15px;
    }

    .jhon {
        display: inline-block;
    }

    .ruled_ {
        width: 100px;
    }

    .song {
        flex-direction: row;
        justify-content: space-between;
    }

    .nome {
        padding-left: 2px;
    }

}

    
    @media screen and ( min-width:628px) {
       
       
        .navigation ul li {
            font-size: 11px;
            padding: 0 10px;
            
        }

        .righty,
        .lefty {
            width:188px
        }
        
        .sentry {
            width:calc(100% - 376px) ;
        }

        .tower {
            width: 250px;
        } 
        .foldy {
            flex-direction: row;
            justify-content: space-between;
            margin-right: 5px;
        }

        .foldy i {
            margin: 0 15px 0 0 ;
        }

        .ruled {
            width: 100px;
        }

        .ruled_ {
            width: 250px;
        }
        
        .spano_{
            width: 45px;
        }

        .albums {
            width: calc(100% / 4 - 10px );
        }
    }
    

    @media screen and (min-width:868px) {
    
        .ruled_ {
            width: 380px;
        }
        .spano_{
            width: 60px;
        }
        .castra {
            width: 480px;
        }

    }
        
    

